
ion-toolbar >ion-title{
  --color:var(--ion-color-primary)
}

ion-row.convert_row{
border: 1px solid var(--ion-color-primary);
}

ion-row > ion-col.value_col {
  border-right: 1px solid #cecece;
}

ion-row > ion-col.select_col {
  display: flex;
  justify-content: flex-end;
}

ion-input{
  color: #000;
}
.bold{
  font-weight: 700;
}

ion-select{
  width: fit-content;
  white-space: break-spaces;
  color: #000;

}

ion-list{
  margin: 16px 0 0 0 !important;

  &>ion-item {
   & >  ion-icon{
    font-size: 12px;
    padding: 5px;
    background: var(--ion-color-success);
    border-radius: 50%;
    margin-right: 5px;
    color: #fff;
  }
  & > ion-label , p {
    font-size: 14px;
  }
}
}

ion-grid{
background: #fff;
border-radius: 8px;
padding: 8px;
}

